@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Oxygen Mono', monospace;
  background: #000;
  color: green;
}

a {
  color: green;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin-bottom: 12px;
}

.dark .dark\:text-gray-100,
.bg-vert-light-gradient,
.dark .dark\:bg-vert-dark-gradient,
.dark .dark\:shadow-\[0_0_15px_rgba\(0\2c 0\2c 0\2c 0\.10\)\] {
  background: transparent;
}

form .dark .dark\:bg-vert-dark-gradient,
.dark .dark\:shadow-\[0_0_15px_rgba\(0\2c 0\2c 0\2c 0\.10\)\] {
  background: #ffffff0d;
  color: green;
}

.dark .dark\:bg-gray-800, .bg-gray-50{
background:#000
}

form .bg-white {
  background: #ffffff1a;
}

form .text-gray-500 {
  color: green !important;
  display: none;
}

.dark .dark\:border-gray-900\/50 {
  border-color: transparent;
}